.app {
  width: 100%;
}

.logo {
  width: 300px;
  height: 60px;
  margin-right: 10px;
  
}

.spinner {
  padding: 100px 200px;
  width: 300px;
  margin: 40px auto;
}

.category {
  text-align: center;
}

.annonceList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 99%;
  margin: 1%;
  margin-right: 3%;
}

.userList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin: 2%;
}

.details {
  display: flex;
  justify-content:space-evenly;
  background-color: white;
  width: 80%;
  margin-top: 2%;
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
}

.annonce_info {
  margin: 3%;
  background-color: white;
}

.annonce_image {
  margin: 3%;
  background-color: white;
}

.title {
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 5px;
}

.comment {
  padding-top: 30px;
  padding-left: 10px;
  display: flex;
  padding-bottom: 70px;
}

.description {
  background-color:mintcream;
}


h5 {
  color: #625b53;
  margin-left: 19px;
}

h3 {
  color: #008080;
}

.sign {
  margin: 7%;
}


.admin {
  display: block;
  margin-top: 3%;
}

.paper {
  padding: 30px 20px;
  width: 330px;
  margin: 40px auto;
  margin-top: 25%;
}

.paper_login {
  padding: 20px 20px;
  width: 330px;
  margin: 50px auto;
}

.login {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  width: 65%;
  display: flex;
}

.login_img {
  background-image: url("transporteur.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  padding: 20px 20px;
  width: 600px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.login_img h1 {
  margin-top: 17%;
  font-family: cursive;
  color:whitesmoke;
  text-align: center;
}

p {
  margin: 19px;
}

.user {
  display: flex;
}

.bg_profile {
  background-image: url("trn.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.profil {
  display: flex;
  justify-content: space-around;
}

.home_body {
  background-image: url("./trsp.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 655px;
}

.home {
  padding: 200px 150px;
  text-align: center;
  color: #333;

}

.home p {
  font-style: oblique;
  font-weight: bold;
  color: #625b53;
}

.search {
  background-color: white;
}

.searchUser {
  margin: 3%;
  text-align: end;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-image: url("./background-contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 625px;
  padding-left: 20px;
  padding-right: 20px;
}

.ctct {
  margin-top: 17%;
  font-family: cursive;
  color: #008080;
  text-align: center;
}

.contact p {
  font-family: cursive;
  font-weight: bold;
  color: #008080;
}

.addAnnonce {
  display: block;
  justify-content:row;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.paper_add {
  display: flex;
  justify-content: space-around;
  padding: 20px 20px;
  width: 50%;
  margin: 20px auto;
  margin-bottom: 40px;;
}

.add {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  margin-bottom: 4%;
}

.settings {
  width: 50%;
  margin-left: 25%;
  margin-top: 4%;
  
}

.settings p {
  font-weight: bold;
  font-size: 13px;
}

.settings h4 {
  color:darkgrey;
  margin: 3%;
}

.setting {
  display: flex;
  justify-content: space-between;
  margin: 3%;
  border-bottom: solid;
  border-color:darkgrey;
  border-bottom-width:thin;
}
