body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E0E7E9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  background-color: white;
  position:sticky;
}
.nav a {
  color:darkgreen;
}

.footer {
  text-align: center;
  bottom: 0px;
  position: fixed;
  width: 100%;
  height: 30px;
  color: #333;
  background-color: #bdbdbd;
}

a {
  text-decoration: none;
  color: black;
}